# Telegram Bot Configuration
TELEGRAM_TOKEN="YOUR_BOT_TOKEN_HERE"
WEBHOOK_URL="https://frankly-wanted-polliwog.ngrok-free.app/webhook"

# Working Hours Configuration
WORK_START="09:00"
WORK_END="18:00"
SLOT_DURATION=30
SCHEDULE_DAYS=7  # Количество дней для планирования (установите 1 для записи только на сегодня)

# Database Configuration
DB_FILE="queue.db"

# Server Configuration
PORT=8080
